@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #2e2e2e;
    color: #fff;
    overflow-x: hidden;
    background-image: url('./assets/checkerboardpng7.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:url(../assets/images/background.png);
    background-size: cover;
    background-position: center;
}

* {
    padding: 0;
    margin: 0;
}

nav ul li {
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px) saturate(200%) brightness(70%);
    color: #fff;
    display: flex;
    height: 7vw;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding: 0 1%;
    z-index: 5;
    margin: auto;
    text-align: center;
}

nav h1 {
    font-size: 3vw;
    font-weight: 800;
    margin-right: 1%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    font-size: 1.2vw;
    margin: 0 1.5vw;
}

nav ul li a:hover {
    color: #2c7ffc;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.games {
    display: flex;
    justify-content: center;
    align-items: center;
}

p.seo {
    display:none;
}

.center {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 7vw;
    width: 100%;
    display: inline;
}

.gamegroup {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
}

.play {
    font-family: "Montserrat";
    font-weight: 700;
    color: var(--background);
}

button {
    color: var(--background);
    background-color: var(--accent);
    padding: 8px 15px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.4s all;
}

.center-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.links {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: white;
    text-decoration: none;
}

.center-container h1 {
    top: 51%;
    width: 100%;
    position: absolute;
}

.play {
    font-family: "Montserrat";
    font-weight: 700;
    color: var(--background);
}

button {
    background-color: #0284d4;
    padding: 8px 15px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.4s all;
}

button:hover {
    transform: scale(1.01);
}

h1 {
    font-size: 50px;
}

#games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .6vw;
    padding-bottom: 5vw;

}
 
#games img {    
    height: 15.6vw;
    width: 15.6vw;
    border-radius: 1vw;
    margin: .5vw;
    cursor: pointer;
    user-select: none;
    transition: transform .2s;
}
 
#games img:hover {
    transform: scale(1.01);
}

.content {
    flex-direction: column;
    align-items: left;
    padding: 7vw;
    padding-top: 0vw;
}

.content hr {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
    margin: 1vw 0;
}

.search {
    display: flex;
    user-select: none;
    margin-top: 2.5vw;
    margin-left: 1.2vw;
}
 
.search input {
    background-color: #222222;
    border: none;
    border-radius: 1vw 0 0 1vw;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 0.8vw 1.5vw;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    outline: none;
}
 
.search input::placeholder {
    color: #fff;
    font-weight: 600;
    font-size: 1.5vw;
}
 
.search button {
    background-color: gray;
    border: none;
    border-radius: 0 1vw 1vw 0;
    color:#222222;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 0.8vw 1vw;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    transition: .3s all ease;
}

.content-wrapper {
    display: flex;
    width: 50%; 
    justify-content: space-between;
    margin-top: .5vw;
}

.content-wrapper {
    display: flex;
    width: 50%; 
    justify-content: space-between;
    margin-top: .5vw;
}

h2 {
    color: white;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}